{% extends 'todo_app/layout.html' %}
{% load static %}

{% block head %}
<meta name="csrf-token" content="{{ csrf_token }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Главная страница</title>
<link rel="stylesheet" href="{% static 'todo_app/css/aside.css' %}">
<link rel="stylesheet" href="{% static 'todo_app/css/home.css' %}">
<link rel="stylesheet" href="{% static 'todo_app/css/form-edit-task.css' %}">
{% endblock %}

{% block content %}
<header class="header">
    <div class="header__profile-icon-container"><i class="fa-solid fa-user fa-xl" id="profileIcon"></i></div>
    {% if user.is_authenticated %}
    <p class="header__login">{{ user.username }}</p>
    {% else %}
    <p class="header__login">Гость</p>
    {% endif %}
</header>
<noscript>Необходимо включить Javascript в вашем браузере</noscript>
<div class="main">
    {% if tasks %}
    <div class="main__upper-items">
        <h1 class="main__upper-items__h1">Предстоящие задачи</h1>
        <div class="main__upper-items__filter-select-container">
            <select class="main__upper-items__filter-select-container__select" name=""
                id="">main__upper-items__icon-filter
                <option value="">- Фильтр -</option>
                <option value="">По приоритету</option>
                <option value="">По сроку</option>
            </select>
        </div>
    </div>
    <div class="main__tasks-area">
        {% for task in tasks %}
        <div class="main__task-list" data-task-id="{{task.id}}">
            <div class="main__task-list__tool-container">
                <div class="main__task-list__edit-icon-container" id="EditIcon">
                    <div class="main__task-list__edit-tip" id="EditTip">Редактировать</div>
                    <div class="main__task-list__edit-icon"><i class="fa-solid fa-pen-to-square"></i></div>
                </div>
                <div class="main__task-list__trash-icon-container" id="trashIcon">
                    <div class="main__task-list__trash-icon"><i class="fa-solid fa-trash-can"></i></div>
                    <div class="main__task-list__trash-tip" id="trashTip">Удалить задачу</div>
                </div>
            </div>
            <div class="main__task-list__edit-form" id="editForm"></div>
            <label class="main__old-checkbox">
                <input type="checkbox" class="main__old-checkbox__checkbox" id="task-{{task.id}}"">
                <span class=" main__old-checkbox__checkmark-item {{task.priority_class}}"></span>
            </label>
            {% if task.task|length <= 100 %}<p class="main__task-name-container__task-name">{{task.task}}</p>
                {% else %}
                <p class="main__task-name-container__task-name">{{ task.task|slice:':100'}}...</p>
                {% endif %}
                {% if task.details|length <= 100 %} <p class="main__task-details">{{ task.details }}</p>
                    {% else %}
                    <p class="main__task-details">{{ task.details|slice:':100'}}...</p>
                    {% endif %}
                    <p class="main__task-created-at">Добавлено: {{ task.created_at }}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Выполнить до: {{ task.deadline }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>
        <p class="main__no-tasks-label">У вас нет предстоящих задач</p>
    </div>
    {% endif %}
</div>
<form action="{% url 'home' %}" method="post">
    <div class="main__form-edit-task-container">
        <input type="text" class="main__form-edit-task-container__input-task-name" name="task_name" value="" required>
        <input type="text" class="main__form-edit-task-container__input-task-details" name="task-details" value=""
            required>
        <div class="main__form-edit-task-container__inputs-container__additional-inputs">
            <input type="datetime-local" class="main__form-edit-task-container__input-task-deadline"
                name="task-deadline" required>
            <select name="task-priority" class="main__form-edit-task-container__input-task-priority" required>
                <option value="" disabled selected
                    class="main__form-edit-task-container__input-task-priority__desable-select">Приоритет
                </option>
                <option value="low">Низкий</option>
                <option value="medium">Средний</option>
                <option value="high">Высокий</option>
            </select>
        </div>
        <button type="submit" class="main__form-edit-task-container__button-add">Добавить задачу</button>
        <button class="main__form-edit-task-container__button-cancel" type="button">Отмена</button>
    </div>
</form>
<script src="{% static 'todo_app/js/complete_task.js' %}"></script>
<script src="{% static 'todo_app/js/delete_task.js' %}"></script>
<script src="{% static 'todo_app/js/edit_task.js' %}"></script>
<script src="{% static 'todo_app/js/hide_form.js' %}"></script>
{% endblock %}