{% extends 'todo_app/layout.html' %}
{% load static %}

{% block head %}
<meta name="csrf-token" content="{{ csrf_token }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Главная страница</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'todo_app/css/aside.css' %}">
<link rel="stylesheet" href="{% static 'todo_app/css/home.css' %}">
{% endblock %}

{% block content %}
<noscript>Необходимо включить Javascript в вашем браузере</noscript>
<div class="main">
    {% if tasks %}
    <div class="main__upper-items">
        <h1 class="main__upper-items__h1">Предстоящие задачи</h1>
        <div class="main__upper-items__container-icon-filter">
            <i class="fa-solid fa-filter fa-xl" id="main__upper-items__icon-filter"></i>
        </div>
        <div class="main__upper-items__container-icon-sort">
            <i class="fa-solid fa-sort fa-xl" id="main__upper-items__icon-sort"></i>
        </div>
    </div>
    <div class="main__tasks-area">
        {% for task in tasks %}
        <div class="main__task-list" data-task-id="{{task.id}}">
            <div class="priority-item {{ task.priority_class }}"></div>
            <label class="main__old-checkbox">
                <input type="checkbox" class="main__old-checkbox__checkbox" id="task-{{task.id}}"">
                <span class=" main__old-checkbox__checkmark"></span>
            </label>
            <p class="main__task-name">{{task.task}}</p>
            {% if task.details|length <= 62 %} <p class="main__task-details">{{ task.details }}</p>
                {% else %}
                <p class="main__task-details">{{ task.details|slice:':61'}}...</p>
                {% endif %}
                <p class="main__task-created-at">Добавлено: {{ task.created_at }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Выполнить до: {{ task.deadline }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>
        <p class="main__no-tasks-label">У вас нет задач</p>
    </div>
    {% endif %}
</div>
<script src="{% static 'todo_app/js/complete_task.js' %}"></script>
{% endblock %}