body {
    background: #343434;
}

aside {
    float: left;
    background: #BF3030;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 1px solid black;
    justify-content: center;
}

aside .logo {
    font-size: 38px;
    position: relative;
    top: 8px;
    left: 15px;
    font-family: Sacramnento;
}

aside img {
    width: 70px;
    float: left;
    position: relative;
    left: -10px;
}

aside h3 {
    margin-top: 80px;
    font-size: 24px;
}

.aside__rest-buttons {
    color: #fff;
    display: block;
    margin-top: 22px;
    margin-left: -30px;
    width: 100%;
    transition: transform .5s ease;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: 0;
    text-align: left;
}

ul i {
    margin-right: 10px;
}

.aside__add-new-task {
    display: block;
    width: 100%;
    background-color: #1D7373;
    border-radius: 20px;
    box-shadow: #006363 0px 6px 0px 0px;
    text-align: center;
    cursor: pointer;
    transition: transform .5s ease;
}

.aside__about {
    cursor: pointer;
}

aside a {
    text-decoration: none;
}

aside ul li:hover,
aside ul a:hover {
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.05);
}

aside hr {
    background-color: white;
    height: 1.5px;
    border: none;
}