.main__tasks-area {
    position: absolute;
    left: 500px;
    top: 120px;
    width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    box-sizing: border-box;
}

.main__tasks-area::-webkit-scrollbar {
    width: 1px;
}

.main__tasks-area__task-container {
    display: block;
    width: 100%;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.main__tasks-area__task-container__task-name {
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #ddd;
}

#main__tasks-area__task-container__checkmark {
    color: rgb(13, 192, 13);
}

.main__tasks-area__task-container__task-completion-time {
    margin: 0;
    font-size: 14px;
    color: #ddd;
}

.main__p {
    position: relative;
    left: 220px;
    top: 50px;
    color: white;
    font-size: 30px;
}

.main__no-tasks-label {
    position: relative;
    left: 220px;
    top: 50px;
    color: white;
    font-size: 30px;
}

.main__tasks-area__task-container__arrow-icon {
    display: none;
    float: right;
    background-color: #f2f2f276;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 100px;
    cursor: pointer;
}

#arrowIcon {
    margin-left: 5px;
}

.main__tasks-area__task-container:hover .main__tasks-area__task-container__arrow-icon {
    display: block;
}