body {
    background: #fff;
}

.main_pic {
    position: fixed;
    bottom: -70px;
    right: -90px;
    width: 900px;
}

.logo {
    display: block;
    float: left;
    width: 80px;
    margin-left: 10px;
    margin-bottom: 40px;
}

.logo_label {
    display: block;
    position: relative;
    margin-left: 110px;
    padding-top: 15px;
    color: rgb(13, 58, 116);
    font-size: 32px;
    font-family: Sacramento;
    cursor: default;
}

form {
    position: fixed;
    left: 250px;
    top: 130px;
    width: auto;
    height: auto;
    background: rgb(197, 209, 223);
    padding: 20px;
    border-radius: 12px;
    box-shadow:
        inset 0 0 1px #adc0dc,
        inset 0 0 5px #adc0dc,
        0 4px 6px rgba(0, 0, 0, 0.4);
    font-size: 20px;
}

.form-group input {
    background-color: white;
    color: black;
    width: 300px;
    height: 40px;
    margin: 10px;
    text-indent: 10px;
    padding-left: 10px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    box-shadow: rgb(142, 142, 142) 0px 10px 0px 0px;
    outline: none;
    font-family: Lobster;
}

.form-group input::placeholder {
    color: rgb(60, 60, 60);
}

.access-btn {
    width: 150px;
    height: 30px;
    margin-top: 30px;
    margin-left: 85px;
    border-radius: 20px;
    border: 0;
    background-color: rgb(29, 84, 156);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: #113974 0px 6px 0px 0px;
    color: white;
    cursor: pointer;
}

.access-btn:hover {
    box-shadow: #113974 0px 7px 0px 0px;
}

.access-btn:active {
    background-color: rgb(29, 84, 156);
    box-shadow: #113974 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.signup_offer {
    color: rgb(24, 24, 25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-top: 60px;
    margin-left: 40px;
    cursor: default;
}

.signup_link {
    text-decoration: underline;
    color: rgb(24, 24, 25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.advice-container {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 867px;
    height: 60px;
    background: rgb(29, 84, 156);
    color: white;
    font-family: Arial, sans-serif;
}